.table_box {
  background: #fff;
  border-radius: 14px;
  padding: 24px;
  border: 1px solid #e4e9ee;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 30px;
}

.table_title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.ant-table-thead > tr > th {
  background: #f9fafb !important;
  font-weight: 500;
  color: #555;
}

.ant-table-tbody > tr:hover > td {
  background: #f5f8ff !important;
}


.table_box .ant-table-container {
  overflow-x: visible !important;
}
