.all_product_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 992px) {
  .all_product_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}


@media screen and (max-width: 576px) {
  .all_product_box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
    
}