.swiper_box {
  display: flex;
  justify-content: center;
  height: 320px;
  width: 100%;
  background: #147bcd;
  align-items: center;
  border-radius: 16px;
  margin-top: 50px;
}

.swiper_wrapper {
  padding-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  width: 20px !important;
}

.swiper_title {
  font-weight: 600;
  font-size: 58px;
  line-height: 1.2;
  letter-spacing: 0em;
  color: #fff;
  padding-top: 32px;
}

.swiper_text {
  font-weight: 500;
  font-size: 32px;
  color: #fff;
}

.swiper_img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .swiper_title {
    font-size: 38px;
  }
  .swiper_text {
    font-size: 24px;
  }
}


@media screen and (max-width: 992px) {
  .swiper_title {
    font-size: 25px;
  }
  .swiper_text {
    font-size: 25px;
    padding-top: 10px;
  }
 
  .swiper_box {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .swiper_wrapper {
    flex-direction: column;
    padding-top: 30px;
    padding-left: 0;
  }

  /* .swiper_img{
    width: 80%;
  } */
  .swiper_logo_wrapper {
    display: flex;
    justify-content: center;
  }
}