.profile_location_box {
  border: 1px solid #e4e9ee;
  border-radius: 12px;
  padding: 24px;
  width: 100%;
  height: 430px;
  background: #fff;
  margin-top: 50px;
}

.menuitem_wrapper {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.menuitem_right {
  flex: 1;
}

@media screen and (max-width: 992px) {
  .menuitem_wrapper {
    flex-direction: column;
  }
 
  .menuitem_left,
  .menuitem_right {
    width: 100%;
  }
  .profile_location_box{
    margin-top: 0;
  }

}
