.adminbox {
  border: 1px solid #e4e9ee;
  border-radius: 12px;
  width: 100%;
  padding:  0 20px;
  min-width: 275px; /* ⚡ bu 275px dan kichrayishiga yo‘l qo‘ymaydi */
  background: #fff;
  height: auto;
  margin-top: 30px;
  box-sizing: border-box;
}

.adminbox_img {
  width: 24px;
  height: 24px;
}

.adminbox_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #818b9c;
}

.bottom_wrapper{
  height: 30px;
}
.adminbox_link {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 12px;
  transition: all 0.3s ease;
  color: #1a1a1a;
  margin-top: 20px;
}

.adminbox_link:hover {
  background: #eef3f8;
  transform: translateX(2px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.adminbox_link.active {
  background: #f6f8fa;
  box-shadow: inset 0 0 0 2px #007bff20;
}

.adminbox_wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.adminbox_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #818b9c;
  margin: 0;
}

/* @media screen and (max-width: 1200px) {
  .adminbox_title {
    font-size: 14px;
  }

}

@media screen and (max-width: 768px) {
  .adminbox {
    display: none;
  }
} */

@media screen and (max-width: 1200px) {
  .adminbox {
    max-width: 250px;
    padding: 20px;
  }
  .adminbox_title {
    font-size: 15px;
  }
  .adminbox_link {
    padding: 9px 12px;
  }
}

@media screen and (max-width: 992px) {
  .adminbox {
    max-width: 230px;
    padding: 18px;
  }
  .adminbox_title {
    font-size: 13px;
  }
  .adminbox_link {
    font-size: 14px;
    /* padding: 8px 10px; */
  }
  .adminbox_wrapper {
    gap: 8px;
  }
}

@media screen and (max-width: 768px) {
  .adminbox {
    display: none;
  }
}
