

.home {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #0d47a1;
}

.gaming {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #0b0f0e;
}





@media screen and (max-width: 992px) {
  .category_card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .category_box {
    display: none;
  }
  .category_wrapper {
    gap: 0;
  }
  .second_text {
    flex-direction: column;
    gap: 20px;
    margin: 15px;
  }

  .second_right {
    display: flex;
    justify-content: space-between;
  }

  .second_left h4 {
    font-size: 20px;
  }
  .second_left p {
    margin-top: 12px;
  }

  .data {
    display: block;
  }

  .data_box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: bottom 0.4s ease;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  }




  .category_all {
    color: #1677ff;
    cursor: pointer;
  }
  .second_left h4 {
    text-align: center;
  }

  .second_left p {
    text-align: center;
  }
  .second_right h4 {
    text-align: center;
  }
  .category_text {
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .category_card {
    gap: 10px;
    justify-content: center;
    padding: 10px;
  }

  .card_category {
    width: 100%;
    max-width: 180px;
    margin: 0 auto;
  }

  .ant-card-meta-title {
    font-size: 12px !important;
    text-align: center;
  }

  .second_left h4 {
    font-size: 16px;
  }

  .second_left p {
    font-size: 13px;
  }
  .second_right h4 {
    font-size: 16px;
  }
 .home{
  font-size: 13px;
 }
 .gaming{
  font-size: 13px;
 }
}
