.header_box {
  border-bottom: 1px solid #e4e9ee;
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-wrap: nowrap; /* bu ism uzun bo‘lsa ham yonida tursin */

}


.header_name {
  font-weight: 600;
  font-size: 14px;
  color: #414651;
  margin: 0;
  white-space: nowrap;
  cursor: pointer;
}

.header_name,
.ant-dropdown-trigger {
  cursor: pointer !important;
}
.header_right {
  display: flex;
  align-items: center;
  gap: 24px;

}

.header_input {
  width: 100%;
  max-width: 800px;
  border-radius: 20px;
}

.header_medium {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.menu_input {
  height: 40px;
}

.header_user_box{
  display: flex;
  align-items: center;
  gap: 10px;
}


.header_menu {
  display: none;
  font-size: 20px;
  cursor: pointer;
}

.menu_inputs {
  padding: 10px;
}

.bottom_link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #414651;
  margin: 0;
}

.bottom_wrapper{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 15px;
  margin-top: 10px;
}

.header_logo{
  cursor: pointer;
}
@media (max-width: 1200px) {
  .header_input {
    max-width: 650px;
  }
  .header_right {
    gap: 25px;
  }
}

/* ✅ 992px dan kichik (Laptop) */
@media (max-width: 992px) {
  .header_right {
    gap: 20px;
  }
  .header_input {
    max-width: 500px;
  }
  .header_wrapper {
    padding: 12px;
  }
}

@media (max-width: 768px) {
  .header_menu_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
  }
  .header_medium {
    width: 100%;
    padding: 0 10px;
    display: block;
  }
  

  .header_menu_box ul li a {
    font-size: 20px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: 0.2s;
  }
  .header_right {
    gap: 13px;
  }

  .header_language .ant-select-selector {
    font-size: 11px !important; /* yozuvni kichraytiradi */
  }
  

  .header_right {
    gap: 10px;
  }
 
  .header_left {
    display: none;
  }
  .header_input {
    max-width: 500px;
  }
  .header_cart {
    display: none;
  }
  .header_badge{
    display: none;
  }
  .header_menu {
    display: block;
  }

  .ant-input-affix-wrapper,
  .ant-input-group-addon {
    display: none !important;
  }

  .ant-input-group {
    display: block !important;
  }

  .ant-input-group > .ant-input {
    border-radius: 8px !important;
  }

  .header_menu_box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .menu_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
  }
}

.header_user{
  cursor: pointer;
}

.header_cart{
  cursor: pointer;
}
/* @media (max-width: 768px) {
    .header_menu_box {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #fff;
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .header_menu_box ul li a {
      font-size: 20px;
      font-weight: 500;
      color: #333;
      text-decoration: none;
      transition: 0.2s;
    }
    .header_right {
      gap: 20px;
    }
    .header_left {
      display: none;
    }
    .header_input {
      max-width: 500px;
    }
    .header_user {
      display: none;
    }
    .header_menu {
      display: block;
    }
    .ant-input-affix-wrapper,
    .ant-input-group-addon {
      display: none !important;
    }
  
    .ant-input-group {
      display: block !important;
    }
  
    .ant-input-group > .ant-input {
      border-radius: 8px !important;
    }
  
    .header_menu_box ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }
  
    .header_menu_exit {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 16px;
      cursor: pointer;
    }
  
  
    
  }
   */
