footer {
  margin-top: 50px;
  background: #f7f7f7;
  width: auto;
  height: auto;
}

.footer_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #0b0f0e;
  max-width: 280px;
  margin-top: 24px;
}

.about_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #0b0f0e;
}

.about_link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #0b0f0e;
}
.icons_wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer_link {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer_right {
  display: flex;
  gap: 90px;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
}

@media screen and (max-width: 992px) {
  .footer_wrapper {
    padding: 20px;
  }
  .footer_text {
    font-size: 14px;
  }
  .footer_right {
    gap: 25px;
  }
  .about_link {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .footer_wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .footer_text {
    max-width: 300px;
    text-align: center;
  }
  .about_title {
    font-size: 16px;
  }
  .about_link {
    font-size: 12px;
  }
  .footer_left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_right {
    justify-content: center;
  }
}
