.section_wrapper {
  display: flex;
  gap: 35px;
}

.section_top_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  width: 100%;
}

.service_box {
  border: 1px solid #e4e9ee;
  border-radius: 12px;
  padding: 24px;
  flex: 1;
  max-width: 100%;
  height: 106px;
}

.service_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #818b9c;
}

.service_price {
  font-weight: 600;
  font-size: 17px;
  line-height: 1.4;
  color: #0b0f0e;
}

.service_wrapper {
  display: flex;
  gap: 25px;
}

.service_box:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.dashboard_box {
  border: 1px solid #e4e9ee;
  border-radius: 12px;
  padding: 24px;
  max-width: 100%;
  width: 100%;
  height: auto;
  background: #fff;
  margin-top: 15px;
}
.news {
  border: 1px solid #e4e9ee;
  border-radius: 12px;
  padding: 24px;
  max-width: 100%;
  height: auto;
  background: #fff;
  margin-top: 20px;
}

.news_title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #0b0f0e;
}

.news_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #0b0f0e;
  max-width: 579px;
}

.news_date {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #818b9c;
  margin-top: 24px;
}

.pagination_wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.news_wrapper {
  display: flex;
  gap: 20px;
  margin-top: 24px;
}
@media screen and (max-width: 1200px) {
  .service_box {
    width: 100%;
    max-width: 100%;
  }
  .section_top_wrapper {
    width: 100%;
    padding: 0 15px;
  }
}

@media screen and (max-width: 992px) {
  .service_title {
    font-size: 14px;
  }
  .service_price {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .service_wrapper {
    flex-direction: column;
  }
  .section_wrapper {
    gap: 0;
  }
  .section_top_wrapper {
    padding: 0;
    gap: 0px;
  }
}

@media screen and (max-width: 576px) {
  .news_img {
    width: 64px;
    height: 64px;
  }
  .news_title {
    font-size: 16px;
  }
  .news_text {
    font-size: 12px;
    max-width: 400px;
  }
  .news_date {
    font-size: 12px;
    margin-top: 0;
  }
  .pagination_wrapper {
    justify-content: center;
  }
}
